@model CsiNumberSorter.Website.Models.SortedNumbersViewModel
<div>
    <div class="@Model.AlertClass" role="alert">
        <h1>Sorted Numbers:</h1>
        <p>@Model.NumbersCsv</p>
        <p>@Model.Message</p>
    </div>
    <form id="GetAllSorts" asp-controller="Home" asp-action="GetAllSorts" data-ajax-update="#AllSortsDiv" data-ajax-complete ="success" data-ajax="true" data-ajax-mode="replace" method="get">
        <input class="btn btn-primary" type="submit" value="Get All Sorted Numbers">
    </form>

    <div id="AllSortsDiv"></div>

</div>




