@{
    ViewData["Title"] = "Home Page";
}


<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>


<div class="text-center">
    <h1 class="display-4">Number Sorter</h1>
    <partial name="_NumberEntry.cshtml" />
</div>



